#page-container {
    min-height: 900px;
}

#bio-image {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: auto;
}

p.description {
    font-size: 100%;
}

.social-logos {
    text-align: center;
}

.social-logos > li {
    display: inline;
    text-align: center;
    line-height: 72px;
}

.connect-info-icon {
    width: 65px;
    height: 65px;
    margin-right: 15px;
}

.connect-info-icon:hover {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

label{
    padding-left: 5px;
}

textarea {
    border-color: #dddddd;
}

img.image {
    margin: 20px auto 0;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    display: block;
}

.thumbnail:hover {
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: image-pulse;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    animation-name: image-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

h3.image-text {
    position: absolute;
    top: 60%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 15px 5%;
    margin: 0;
    text-align: center;
}

footer {
    clear: both;
    background-color: #eeeeee;
    height: 60px;
    width: 100%;
}

footer > p {
    line-height: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 0;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes image-pulse {
    0% {
        -webkit-filter: brightness(97%);
    }
    5% {
        -webkit-filter: brightness(95%);
    }
    10% {
        -webkit-filter: brightness(93%);
    }
    15% {
        -webkit-filter: brightness(91%);
    }
    20% {
        -webkit-filter: brightness(88%);
    }
    25% {
        -webkit-filter: brightness(85%);
    }
    30% {
        -webkit-filter: brightness(82%);
    }
    35% {
        -webkit-filter: brightness(80%);
    }
    40% {
        -webkit-filter: brightness(78%);
    }
    45% {
        -webkit-filter: brightness(76%);
    }
    50% {
        -webkit-filter: brightness(75%);
    }
    55% {
        -webkit-filter: brightness(76%);
    }
    60% {
        -webkit-filter: brightness(78%);
    }
    65% {
        -webkit-filter: brightness(80%);
    }
    70% {
        -webkit-filter: brightness(83%);
    }
    75% {
        -webkit-filter: brightness(85%);
    }
    80% {
        -webkit-filter: brightness(88%);
    }
    85% {
        -webkit-filter: brightness(91%);
    }
    90% {
        -webkit-filter: brightness(93%);
    }
    95% {
        -webkit-filter: brightness(95%);
    }
    100% {
        -webkit-filter: brightness(97%);
    }
}


/* Standard syntax */

@keyframes image-pulse {
    0% {
        -webkit-filter: brightness(97%);
    }
    5% {
        -webkit-filter: brightness(95%);
    }
    10% {
        -webkit-filter: brightness(93%);
    }
    15% {
        -webkit-filter: brightness(91%);
    }
    20% {
        -webkit-filter: brightness(88%);
    }
    25% {
        -webkit-filter: brightness(85%);
    }
    30% {
        -webkit-filter: brightness(82%);
    }
    35% {
        -webkit-filter: brightness(80%);
    }
    40% {
        -webkit-filter: brightness(78%);
    }
    45% {
        -webkit-filter: brightness(76%);
    }
    50% {
        -webkit-filter: brightness(75%);
    }
    55% {
        -webkit-filter: brightness(76%);
    }
    60% {
        -webkit-filter: brightness(78%);
    }
    65% {
        -webkit-filter: brightness(80%);
    }
    70% {
        -webkit-filter: brightness(83%);
    }
    75% {
        -webkit-filter: brightness(85%);
    }
    80% {
        -webkit-filter: brightness(88%);
    }
    85% {
        -webkit-filter: brightness(91%);
    }
    90% {
        -webkit-filter: brightness(93%);
    }
    95% {
        -webkit-filter: brightness(95%);
    }
    100% {
        -webkit-filter: brightness(97%);
    }
}